/* Atributos globais */

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--fonte-secundaria: "Montserrat", sans-serif;
	--fonte-principal: "Krona One", sans-serif;
	--cor-terciaria: #22d4fd;
	--cor-secundaria: #f6f6f6;
	--cor-primaria: #000000;
	--cor-hover: #272727;
}

* {
	margin: 0;
	padding: 0;
}

body {
    box-sizing: border-box;
	background-color: var(--cor-primaria);
	color: var(--cor-secundaria);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Menu superior */

.indices {
	display: flex;
	gap: 2.5em;
    padding: 3% 0 0 15%;
    flex-shrink: 0;
}

.indices a {
	font-size: 1.5rem;
	text-decoration: none;
	font-family: var(--fonte-secundaria);
	font-weight: 400;
	color: #22d4fd;
}

/* Conteudo Principal */

.apresentacao {
	display: flex;
	align-items: start;
    justify-self: center;
    padding: 3% 15%;
	gap: 3em;
    flex: 1;
}

.conteudo {
	display: flex;
	flex-direction: column;
	gap: 20px;
    flex: 1;
}

.titulo {
	font-size: 1.75rem;
	font-family: var(--fonte-principal);
}

.strong-title {
	color: var(--cor-terciaria);
}

.paragrafo {
	font-size: 1rem;
	font-family: var(--fonte-secundaria);
}

.grupo__links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
}

.text-links {
	width: 22em;
	text-align: center;
}

.bold-text {
	font-size: 1.25rem;
	font-family: var(--fonte-principal);
	font-weight: 400;
}

.link {
	font-size: 1.25rem;
	text-decoration: none;
	font-family: var(--fonte-secundaria);
	font-weight: bold;
	color: var(--cor-secundaria);
	display: flex;
	align-items: end;
	justify-content: center;
	gap: 0.75em;
    width: 50%;
	max-width: 310px;
	border: 0.175em solid var(--cor-terciaria);
	border-radius: 0.5em;
	padding: 1em 1em;
}

.link:hover {
	background-color: var(--cor-hover);
	color: var(--cor-terciaria);
}

.imagem {
	user-select: none;
    display: flex;
}

.imagem img {
	border-radius: 30px;
    width: 85%;
    height: auto;
}

/* Rodapé */

.rodape {
	background-color: var(--cor-terciaria);
	color: var(--cor-primaria);
	font-size: 1.25rem;
    font-weight: 400;
	font-family: var(--fonte-secundaria);
	text-align: center;
    width: 100%;
    padding: 12px 0;
}

@media(max-width: 1200px){
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }

    .imagem img{
        width: 50%;
    }

    .imagem{
        justify-content: center;
    }

    .indices{
        padding: 4vh 0 0 0;
        justify-content: center;
        width: 100vw;
    }
}